@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #272e38;
}

h1,h2,h3,h4 {
	font-weight: 800;
	font-family: "Playfair", serif;
}

p,a,span,button, li {
	font-family: "Source Serif 4", serif;
	text-decoration: none;
	list-style-type: none;
}

a {
	font-family: 'Poppins';
	font-weight: 200;
	color: #fff;
}

.container {
	padding: 4rem 0;
}

.row {
	padding: 0 24px;
	margin: 0 auto;
	width: 100%;
	max-width: 1500px;
}

/* nav */
nav {
	position: fixed;
	top: 24px;
	right: 24px;
	left: 24px;
	z-index: 100;
	border: 1px solid #fff;
	border-radius: 8px;
}

.nav_container {
	padding: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav_list {
	display: flex;
	gap: 32px;
}

.menu_link {
	color: #000;
	background-color: #E5D679;
	padding: 4px 16px;
	border-radius: 4px;
}

/* hero */
#home {
	position: relative;
	width: 100%;
	height: 100vh;
}

#home_video {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
}

.overlay {
	position: absolute;
	inset: 0;
	background-color: #000;
	opacity: 0.6;
}

.text_container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
}

.text_container p {
	text-align: center;
	margin-bottom: -40px;
}

.restaurant_name {
	font-size: 200px;
	color: #E5D679;
	font-weight: 200;
}

#home_line {
	position: absolute;
	bottom: 24px;
	left: 50%;
	transform: translateX(-50%);
	width: 98%;
}

.home_text {
	position: absolute;
	bottom: 80px;
	left: 50%;
	width: 500px;
	transform: translateX(-50%);
	color: #fff;
	text-align: center;
}

/* location */
.location_container {
	padding: 6rem 0;
}

.maryland_img-wrapper {
	position: relative;
	width: 100%;
}

.maryland_img {
	width: 100%;
}

.location_text-container {
	position: absolute;
	color: #fff;
	top: 32px;
	left: 24px;
}

.heading {
	margin-bottom: 40px;
	font-size: 40px;
	color: #fff;
}

.location_list {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-bottom: 24px;
}

.contact_text-container {
	position: absolute;
	right: 32px;
	bottom: 120px;
	color: #fff;
}

.contact_text-1 {
	font-size: 24px;
	list-style-type: disc;
}

/* offering */
#offering,
#seoul-blues {
	width: 98%;
	border-radius: 12px;
	margin: 0 auto;
}

#offering {
	background-color: #E5D679;
}

.heading-2 {
	font-size: 56px;
	text-align: center;
}

.sub-heading {
	font-weight: 200;
	text-align: center;
}

.offering-container {
	width: 100%;
	padding: 0 24px;
	margin-top: 100px;
	display: flex;
	justify-content: center;
	gap: 32px;
}

.offering-wrapper {
	position: relative;
	width: 500px;
	overflow: hidden;
	border-radius: 8px;
}

.offering_img {
	width: 100%;
	display: block;
	scale: 1.2;
}

.offering_overlay {
	position: absolute;
  inset: 0;
	z-index: 80;
  background-image: linear-gradient(to right, #000000cf 20%, transparent);
}

.offering_text-container {
	position: absolute;
	top: 24px;
	left: 16px;
	color: #fff;
	z-index: 100;
}

.offering-name {
	font-size: 20px;
	margin-bottom: 8px;
}

.offering-info {
	width: 300px;
}

/* about */
#about {
	position: relative;
	margin-bottom: 8rem;
}

.about_us-heading,
.about_us-heading2 {
	color: #fff;
	font-size: 56px;
}

.about_us-heading {
	margin-bottom: 12px;
}

.about_us-heading2 {
	margin-left: 100px;
}

.about_text-container {
	width: 50%;
	color: #fff;
	font-weight: 200;
	line-height: 2.5rem;
	z-index: 80;
}

#leaf {
	position: absolute;
	top: 200px;
	z-index: 1;
}

#leaf-2 {
	position: absolute;
	top: 300px;
	left: 300px;
}

.about_img {
	width: 100%;
	height: 100%;
	display: block;
}

.about_img-wrapper {
	position: absolute;
	top: 100px;
	right: 24px;
	width: 500px;
	height: 500px;
	overflow: hidden;
}

#menu {
	width: 100%;
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 32px;
	align-items: center;
}

.menu-size {
	width: 80%;
}

#gen_nav {
	top: 12px;
	background-color: #272e38;
}

#seoul-blues {
	border: 1px solid #fff;
}

.seoul-text {
	text-align: center;
	width: 600px;
	font-weight: 200;
}

.seoul-row {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fff;
}
