@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #272e38;
}

body::-webkit-scrollbar {
  display: none;
}

h1,h2,h3,h4 {
	font-weight: 800;
	font-family: "Playfair", serif;
}

p,a,span,button, li {
	font-family: "Source Serif 4", serif;
	text-decoration: none;
	list-style-type: none;
}

a {
	font-family: 'Poppins';
	font-weight: 200;
	color: #fff;
}

.container {
	padding: 4rem 0;
}

.row {
	padding: 0 24px;
	margin: 0 auto;
	width: 100%;
	max-width: 1500px;
}

/* nav */
nav {
	position: fixed;
	top: 24px;
	right: 24px;
	left: 24px;
	z-index: 95;
	border: 1px solid #fff;
	border-radius: 8px;
	transition: top 300ms ease, background-color 500ms ease-in-out;
	transition: top 500ms ease, bottom 500ms ease, left 500ms ease, right 500ms ease;
}

.nav_container {
	padding: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav_list {
	display: flex;
	gap: 32px;
}

.menu_link {
	color: #000;
	background-color: #E5D679;
	padding: 4px 16px;
	border-radius: 4px;
}

.nav_modal-list {
	position: absolute;
	top: 30%;
	right: 24px;
	display: flex;
	flex-direction: column;
	gap: 56px;
	text-align: end;
	visibility: hidden;
}

.nav_modal-link {
	color: #000;
}

/* hero */
#home {
	position: relative;
	width: 100%;
	height: 100vh;
}

#home_video {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
}

.overlay {
	position: absolute;
	inset: 0;
	background-color: #000;
	opacity: 0.6;
}

.text_container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
}

.text_container p {
	text-align: center;
	margin-bottom: -40px;
}

.restaurant_name {
	color: #E5D679;
	font-weight: 200;
}

.home_squares {
	position: absolute;
	bottom: 24px;
	left: 24px;
}

.home_squares2 {
	position: absolute;
	bottom: 24px;
	right: 24px;
	transform: rotate(90deg);
}

.home_line {
	position: absolute;
	bottom: 24px;
	left: 56px;
	right: 56px;
	background-color: #fff;
	height: 1px;
}

.home_text {
	position: absolute;
	bottom: 80px;
	left: 24px;
	right: 24px;
	color: #fff;
	text-align: center;
}

/* location */
.location_container {
	padding: 8rem 0 12rem 0;
}

.maryland_img-wrapper {
	position: relative;
	width: 100%;
}

.maryland_img {
	width: 100%;
}

.location_text-container {
	position: absolute;
	color: #fff;
	top: 32px;
	left: 24px;
}

.heading {
	margin-bottom: 40px;
	font-size: 40px;
	color: #fff;
}

.location_list {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-bottom: 24px;
}

.contact_text-container {
	position: absolute;
	right: 32px;
	bottom: 120px;
	color: #fff;
}

.contact_text-1 {
	font-size: 24px;
	list-style-type: disc;
}

/* offering */
#offering,
#careers {
	background-color: #fff;
}

#offering,
#seoul-blues,
#careers {
	position: relative;
	width: 95%;
	border-radius: 12px;
	margin: 0 auto;
}

.heading-2 {
	font-size: 56px;
	text-align: center;
}

.sub-heading {
	font-weight: 200;
	text-align: center;
}

.offering-container {
	width: 100%;
	padding: 0 24px;
	margin-top: 100px;
	display: flex;
	justify-content: center;
	gap: 32px;
}

.offering-wrapper {
	position: relative;
	width: 500px;
	overflow: hidden;
	border-radius: 8px;
}
.meat-wrapper,
.app-wrapper,
.drink-wrapper {
	transition: transform 500ms ease, box-shadow 400ms ease;
}

.meat-wrapper:hover,
.app-wrapper:hover,
.drink-wrapper:hover {
	cursor: pointer;
	transform: translate(4px, -8px);
	box-shadow: 2px 8px 10px 0px #474747;
}

.offering_img {
	width: 100%;
	display: block;
	scale: 1.2;
}

.offering_overlay {
	position: absolute;
  inset: 0;
	z-index: 80;
  background-image: linear-gradient(to right, #000000cf 20%, transparent);
}

.offering_text-container {
	position: absolute;
	top: 24px;
	left: 16px;
	color: #fff;
	z-index: 90;
}

.offering-name {
	font-size: 20px;
	margin-bottom: 8px;
}

.offering-info {
	width: 300px;
}

.offering-popup {
	position: fixed;
	width: 600px;
	z-index: 100;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	visibility: hidden;
	opacity: 0;
	transition: opacity 500ms ease;
}

.offering_popup-overlay {
	position: fixed;
	inset: 0;
	background-color: #000;
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	transition: opacity 300ms ease;
}

.exit_btn {
	position: absolute;
	right: 32px;
	top: 32px;
	background-color: transparent;
	color: #fff;
	border: none;
	font-size: 32px;
}

.exit_btn:hover {
	cursor: pointer;
}
/* about */
#about {
	position: relative;
	margin-bottom: 8rem;
}

.about_us-heading,
.about_us-heading2 {
	color: #fff;
	font-size: 56px;
}

.about_us-heading {
	margin-bottom: 12px;
}

.about_us-heading2 {
	margin-left: 100px;
	margin-bottom: 0;
}

.about_text-container {
	width: 100%;
	color: #fff;
	font-weight: 200;
	line-height: 2.5rem;
	z-index: 80;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about_text-container p {
	width: 50%;
	z-index: 90;
}

#leaf {
	position: absolute;
	top: 200px;
	z-index: 1;
}

#leaf-2 {
	position: absolute;
	top: 300px;
	right: 50%;
	z-index: 1;
}

.about_img {
	width: 100%;
	height: 100%;
	display: block;
}

.about_img-wrapper {
	width: 400px;
	height: 500px;
}

/* menu */
#menu {
	width: 100%;
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 32px;
	align-items: center;
}

.menu-size {
	width: 80%;
}

#gen_nav {
	top: 12px;
	background-color: #fff;
}

.menu-link,
.menu_nav-link {
	color: #000;
}


/* seoul blues */
#seoul-blues {
	border: 1px solid #fff;
}

.seoul-container {
	padding: 4rem 24px;
}

.seoul-text {
	text-align: center;
	width: 100%;
	max-width: 600px;
	font-weight: 200;
}

.seoul-row {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fff;
}

.cafe-link {
	margin: 24px 0;
	border: 1px solid #fff;
	padding: 8px 16px;
	font-weight: 200;
}

.seoul_img {
	width: 30%;
	border-radius: 16px;
	margin: 32px 0;
}

.seoul_text-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	text-align: center;
}

footer {
	position: relative;
	margin-top: 5rem;
	height: 350px;
}

.footer_row {
	position: relative;
	padding: 24px 56px;
}

#footer_squares {
	position: absolute;
	top: -80px;
	left: 24px;
}

#footer_square2 {
	position: absolute;
	top: -80px;
	right: 24px;
	transform: rotate(90deg);
}

.footer_line {
	position: absolute;
	top: -24px;
	left: 12px;
	right: 12px;
	height: 1px;
	background-color: #fff;
}

.footer_link-container {
	color: #fff;
	display: flex;
	justify-content: space-between;
}

.footer_list-container {
	display: flex;
	gap: 56px;
}

.footer_list {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.footer_list--2 {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.location-2 {
	margin-top: 24px;
}

.footer_icon {
	width: 32px;
}

.copyright {
	color: #fff;
	position: absolute;
	bottom: 12px;
	left: 24px;
	right: 24px;
	text-align: center;
}

/* careers */
.careers-wrapper {
	border: 1px solid #000;
	width: 300px;
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 24px;
}

.careers-info {
	font-weight: 200;
}

.careers-text {
	text-align: center;
	margin: 80px 0 40px 0;
}

.careers-row {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.careers-btn-wrapper {
	display: flex;
	gap: 24px;
}

.careers-btn-wrapper a {
	background-color: #E5D679;
	padding: 8px 32px;
	color: #000;
	border-radius: 4px;
}

/* JS manipulated classes */
.nav_change {
	background-color: #E5D679;
	top: 8px;
	border: none;
	transition: top 300ms ease, background-color 500ms ease;
}

.nav_white {
	transition: color 300ms ease, fill 300ms ease;
}

.color_change {
	color: #000;
	fill: #000;
}

#hamburger_menu {
	display: none;
}

#hamburger_menu:hover {
	cursor: pointer;
}

.nav_view-change {
	inset: 0;
	border-radius: 0;
	border-color: transparent;
	background-color: #E5D679;
	transition: inset 500ms ease, border-radius 500ms ease, background-color 500ms ease;
}

.text_appear {
	visibility: visible;
}

.popup_appear {
	visibility: visible;
	opacity: 1;
	transition: opacity 500ms ease;
}

.overlay-popup {
	visibility: visible;
	opacity: 0.8;
}
/* screen size 1125px */

@media (max-width: 1125px) {
	.contact_text-container {
		bottom: 24px;
	}

	.about_img-wrapper {
		top: 150px;
		width: 400px;
	}

	.offering-info {
		width: 200px;
	}

	.nav_list {
		display: none;
	}

	#hamburger_menu {
		display: block;
	}
}

/* 950px */
@media (max-width: 950px) {
	.location_text-container {
		top: 0;
	}

	.contact_text-container {
		bottom: 0;
	}

	.offering-container {
		flex-direction: column;
		align-items: center;
	}

	.offering-info {
		width: 60%;
		min-width: 330px;
	}

	.offering-wrapper {
		width: 450px;
	}

	.offer-container {
		padding: 24px;
	}

	.about_text-container {
		width: 100%;
		flex-direction: column;
		gap: 56px;
	}

	.about_text-container p {
		width: 100%;
	}

	.about_img-wrapper {
		width: 100%;
		height: 100%;
		z-index: 90;
	}

	.about_us-heading,
	.about_us-heading2 {
		text-align: center;
	}

	.about_us-heading {
		margin-right: 100px;
	}

	.about_us-heading2 {
		margin-left: 100px;
		margin-bottom: 32px;
	}

	#leaf {
		left: 0;
	}

	#leaf-2 {
		left: 55%;
	}

	.seoul_img {
		width: 75%;
	}
}

/* 740px */
@media (max-width: 740px) {
	.heading,
	.about_us-heading,
	.heading-2 {
		font-size: 40px;
		margin-bottom: 16px;
	}

	p,a,span,li {
		font-size: 14px;
	}

	.contact_text-container {
		width: 250px;
		bottom: -100px;
	}

	.location_text-container {
		width: 230px;
		top: -40px;
	}

	.menu-size {
		width: 98%;
	}

	.offering-popup {
		width: 95%;
	}
}

/* 500px */
@media (max-width: 500px) {
	.offering-wrapper {
		width: 320px;
	}

	.offering-info {
		min-width: 200px;
	}

	#leaf {
		width: 180px;
	}

	#leaf-2 {
		width: 100px;
	}

	.footer_link-container {
		flex-direction: column;
		gap: 40px;
	}

	.footer_list-container {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.footer_list--2 {
		text-align: center;
	}

	footer {
		height: 700px;
	}

	.location_text-container {
		top: -80px;
	}

	.contact_text-container {
		bottom: -130px;
	}

	.contact_text-1 {
		font-size: 14px;
	}

	.home_line {
		bottom: 36.5px;
		left: 56px;
		right: 56px;
		height: .5px;
	}

	.home_squares, .home_squares2 {
		width: 32px;
	}

	.restaurant_name {
		font-size: 150px;
	}
}